*~
/cpp/opengl_programming_guide_ninth_edition/ch01/e1_1/*.inc
/cpp/opengl_programming_guide_ninth_edition/ch01/e1_1/build/
/cpp/opengl_programming_guide_ninth_edition/ch01/e1_1/dist/
cpp/opengl_programming_guide_ninth_edition/ch01/e1_1/nbproject/*.bash
cpp/opengl_programming_guide_ninth_edition/ch01/e1_1/nbproject/private/